#header{
    background-color: black;
    height: 35%;

    -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  cursor: default;
  height: 3.25rem;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;

  }
  .logo{
padding-left: 20px;
color: rgba(255, 255, 255, 255);
font-size: 35px;
  }
  .login{
    padding-right: 20px;
    color: rgba(255, 255, 255, 255);
    font-size: 15px;
  }