.li {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 16px 16px 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    width: 30%;
    height: 50%;

}
.id{
    position: absolute;
    right: 4px;
    top: 10px;
}
.name{
 font-size: 1em;
 display: flex;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 flex:1;
 
}
.button-red{
justify-content: center;
align-items: center;
width: 100px;
height: 30px;
display: flex;
background-color: lightcoral;
}
.button-green{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    display: flex;
    background-color: aquamarine;
    }
.container{
   
    display: flex;
    flex-direction: row;
}
.col25 {
    float: right;
    width: 25%;
    margin-top: 6px;
  }
  
  .col50 {
    float: left;
    width: 50%;
    margin-top: 6px;
    font-size: 1.5em;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .type{
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 50%;
  }
  .content{
      float: left;
      margin-left: 10%;
  }
  .del{
      float: right;
      padding-right: 10px;
      padding-bottom: 20px;
  }
  .red{
	background:#e84c3d;
	color:#fff;
    box-shadow: 0 3px 0 #d82a1a;
    border-radius:5px;
    padding: 5px 5px 5px 5px;
}
.red:hover{
	background:#f57b8a;	
}
.red:active, .red:focus{
	background:#e63b2b;	
}
.cont{
    margin-bottom: 10px;
}
  