.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head{
  background-image: url("./cat.jpeg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 0px;
}
.subm{
  width: 100%;
  height: 5%;
  align-items: center;
  text-align: center;
}
.container {
  margin-top: 8%;
  margin-bottom: 5%;
  border-radius: 5px;
  background-color: #f2f2f2;
  opacity: 0.9;
  padding: 20px;
  width: 50%;
  margin-left: 25%;
  
}
.formm{
  width: 100%;
}
.bar{
  width: 100%;
  background-color: brown;
  color: white;
  background-position: bottom;

}
.inbar{
  padding-top: 10px;
  font-size: 2.5em;
  padding-bottom: 10px;
}
.ul{
  display: flex;
  flex-wrap: wrap;
}

#header{
  background-color: black;
  height: 35%;

  -moz-align-items: center;
-webkit-align-items: center;
-ms-align-items: center;
align-items: center;
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
-ms-justify-content: space-between;
justify-content: space-between;
cursor: default;
height: 3.25rem;
line-height: 3.25rem;
position: fixed;
top: 0;
width: 100%;
z-index: 10001;

}
.logo{
padding-left: 20px;
color: rgba(255, 255, 255, 255);
font-size: 35px;
}
.login{
  padding-right: 20px;
  color: rgba(255, 255, 255, 255);
  font-size: 15px;
}
.search{
  width: 600px;
  padding-right: 10px;
}

#header{
  background-color: black;
  height: 35%;

  -moz-align-items: center;
-webkit-align-items: center;
-ms-align-items: center;
align-items: center;
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
-ms-justify-content: space-between;
justify-content: space-between;
cursor: default;
height: 3.25rem;
line-height: 3.25rem;
position: fixed;
top: 0;
width: 100%;
z-index: 10001;

}
.logo{
padding-left: 20px;
color: rgba(255, 255, 255, 255);
font-size: 35px;
}
.login{
  padding-right: 20px;
  color: rgba(255, 255, 255, 255);
  font-size: 15px;
}
.search{
  width: 600px;
  padding-right: 10px;
}
.foot{
  background-color:#b71534;
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
    background-clip: initial;
    align-self: stretch;
    -webkit-background-size: cover;
    height: auto;
    width:100%;
    padding:20px 0px 20px 0px;
}
.foot2{
  background-color: #db1d41;
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
    background-clip: initial;
    align-self: stretch;
    -webkit-background-size: cover;
    height: auto;
    width:100%;
    padding:20px 0px 20px 0px;
}
.footer{
  color: white;
}
.bgfoot{
  position: relative;
  height: auto;
  width:100%;
}

